footer.nav-bottom
  a.twitter(href="https://twitter.com/gruberjl") Twitter
  a.linkedin(href="https://www.linkedin.com/in/gruberjl/") LinkedIn
  a.facebook(href="https://www.facebook.com/GitBit0/") Facebook
  a.newsletter(href="https://businesscenter.office.com/b/gitbit/signup") Tips to your inbox
  a.rss(href="rss.xml") RSS
  a.terms(href="/terms.html") Terms
  a.privacy(href="/privacy.html") Privacy
