header.nav-top
  amp-img.logo(src='/assets/branding/GitBit-Logo-Mercury-50x50.png' height=50 width=50)
  h1.title GitBit
  .spacer
  a.no-print(href='https://outlook.office365.com/owa/calendar/ThemisDigital@themisdigital.com/bookings/') Schedule Consultation
