extends ../layout.pug
block content
	include ../header.pug
	main.space-around
		article
			h1 John L. Gruber
			p.space-around
				img(src='/people/assets/john-gruber-200x200.jpg', alt='John L. Gruber <john.gruber@gitbit.org>')
			p John L. Gruber is a Collaboration Engineer and is responsible for helping customers manage and maintain Microsoft Office 365. John brings 10 years of information technology (IT) experience, helping small and large organizations across North America.
			p
				| John is the founder and primary author of 
				a(href='http://gitbit.org') http://gitbit.org
				| . A Microsoft Office 365 blog designed to help teach the business value of Office 365, as well as, aid in implementation of the technology.
			section.space-around#social-media
				a(href="https://www.linkedin.com/in/gruberjl/")
					img(src='/people/assets/contact-john-gr.png', alt='Contact John Gruber via LinkedIn at https://www.linkedin.com/in/gruberjl/')
				a(href="https://twitter.com/gruberjl")
					img(src='/people/assets/contact-john-gr0.png', alt='Contact John Gruber via Twitter at https://twitter.com/gruberjl')
				a(href="https://www.facebook.com/john.gruber00")
					img(src='/people/assets/contact-john-gr1.png', alt='Contact John Gruber via Facebook at https://www.facebook.com/john.gruber00')
				a(href="mailto:john.gruber@gitbit.org")
					img(src='/people/assets/contact-john-gr2.png', alt='Contact John Gruber via email at john.gruber@gitbit.org')
			h2 Why I chose Office 365?
			p 21st century has seen millions of activities going on in the virtual community. People from different walks of life: seasoned professional, career persons, business tycoons, IT experts, juggernauts as well as entertainers position themselves to leverage on the reliable, formidable and robust online platform to transform and transcend their craft and business to another level for remarkably gratifying results. To do this, online users fundamentally require specialized services of IT experts who deal in different IT tools.
			p With the multi-functional and multi-dimensional nature of Microsoft Office 365 Online users and organizations are positioned well to cash in on the productivity gains like the cross-platform capabilities which allow users to access documents from any device and from anywhere at any time. It gives room for collaboration and sharing in which users across an organization can track changes to documents and spreadsheets without different versions being generated. Apart from this, Microsoft Office 365 is always up-to-date, helps predict and manage cost, it is down-to-earth flexible and gives peace to mind with redundancy around the globe.
			p I have used the Microsoft Office 365 to help different companies, government agencies, organizations and individuals solve problems and give them the needed platform for digital transformation and formidable visibility that often result in good and quality returns on investment.
	include ../footer.pug
