doctype html
html(amp="" lang="en")
  head
    meta(charset="utf-8")
    script(async src="https://cdn.ampproject.org/v0.js")
    title Hello World!
    link(rel="canonical" href="http://gitbit.org")
    meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
    link(rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png")
    link(rel="manifest" href="/assets/favicons/site.webmanifest")
    link(rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5")
    link(rel="shortcut icon" href="/assets/favicons/favicon.ico")
    meta(name="msapplication-TileColor" content="#00aba9")
    meta(name="msapplication-config" content="/assets/favicons/browserconfig.xml")
    meta(name="theme-color" content="#ffffff")
    meta(name='description', content='Over 70% of Fortune 500 companies have migrated to Microsoft Office 365. Learn the latest tips & tricks so your organization can have a ROI of 162% in a 7 month payback period.')
    meta(name='description', content='Free Web tutorials')
    meta(name='keywords', content='Office 365, Tips & Tricks, Microsoft')
    meta(name='author', content='John Gruber <John.Gruber@gitbit.org>')

    style(amp-boilerplate='').
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    noscript
      style(amp-boilerplate='').
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "NewsMediaOrganization",
      "name": "GitBit",
      "url": "http://gitbit.org",
      "logo": "http://gitbit.org/assets/branding/GitBit-Logo-Mercury.png",
      "sameAs": [
      "https://twitter.com/gruberjl",
      "https://plus.google.com/+JohnGruber-gitbit",
      "https://www.linkedin.com/in/gruberjl/",
      "https://www.pinterest.com/gitbit00/",
      "https://www.tumblr.com/blog/gruberjl"
      ]
      }
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    script(async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js")
    amp-analytics(type="googleanalytics")
      script(type="application/json").
        {
          "vars": {
            "account": "UA-10841251-3"
          },
          "triggers": {
            "trackPageview": {
              "on": "visible",
              "request": "pageview"
            }
          }
        }
    style(amp-custom)
      include style.css
  body
    block content
