extends ./layout.pug
block head
  block head
block jsonld
  block jsonld
append variables
  - const pageType = 'article'
  block variables
block og
  block og
block content
  include ./includes/header.pug
  main
    article
      block article
  include ./includes/footer.pug
