extends ./layout.pug
block head
  block head
block jsonld
  block jsonld
append variables
  block variables
block content
  include ./includes/header.pug
  main
    article
      block article
  include ./includes/footer.pug
