@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

h1 {
  font-size: 2em;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main > * {
  margin: 12px;
  max-width: 700px;
  flex-grow: 1;
}

blockquote {
  color: rgba(0,0,0,.68);
  font-style: italic;
  font-size: larger;
}

.subtitle {
  color: #666
}

.circle {
  border-radius: 50%;
}

.no-margin {
  margin: 0px;
}

.side-margins {
  margin-left: 12px;
  margin-right: 12px;
}

.double-column-margins {
  margin-top: 24px;
  margin-bottom: 24px;
}

.nav-top {
  background-color: white;
  width:100%;
  height:60px;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 300;
}

.nav-top h1 {
  font-weight: 300;
}

.align-center {
  display: flex;
  align-items: center;
}

#social-media {
  width:100%;
  padding-left: 8px;
  padding-right: 8px;
}

#author-description {
  max-width: 450px;
}

img.logo {
  height: 50px;
  padding-top:5px;
  padding-bottom: 5px;
}

.title {
  padding-left: 8px;
  margin: 0px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.spacer {
  flex-grow: 10;
}

.document {
  padding: 16px;
  max-width: 768px;
}

.card {
  background: white;
  width: 400px;
  margin: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-title, .card-description {
  padding: 8px;
  margin: 0px;
}

#booking-container {
  padding:0px;
  margin:0 auto;
  width:100%;
  height:100%;
}

@media print {
  .no-print {
    display: none;
  }
}

footer.nav-bottom {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 40px;
  border-top: 1px #e1e4e8 solid;
  margin-top: 40px;
  margin-left: 32px;
  margin-right: 32px;
  font-weight: 300;
}

footer.nav-bottom a {
  padding-left: 6px;
  padding-right: 6px;
}

footer.nav-bottom a, .nav-top a {
  text-decoration: none;
  color: black;
  padding-top: 12px;
  padding-bottom: 12px;
}

table {
  border: 1px solid rgba(0,0,0,.1);
  border-collapse: collapse;
}

td p {
  margin: 0px;
}

td {
  padding: 12px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

pre.code {
  font-size: 14px;
  padding: 16px;
  background-color: #f6f8fa;
  border-radius: 3px;
  overflow: auto;
}

pre.code p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.app .heading {
  width: 100%;
  background: rgb(63,63,63);
  font-size: 200%;
  color: white;
}

.app .heading .icon-container {
  border-radius: 50%;
  background: white;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(217, 217, 217);
}

.app .heading .title-container {
  text-align: center;
}

.app .heading .title-container * {
  margin: 0px;
}

.app .updates {
  max-width: 700px;
}

.app .updates .update-title {
  margin-bottom: 0px;
  font-weight: bold;
}

.app .updates .update-description {
  margin-top: 0px;
  color: rgba(0,0,0,.7);
}

.app .updates .update-title-container {
  justify-content: space-between;
}
.app .updates .update-title-container > * {
  flex: 0 auto;
}

.app .request-container {
  background: white;
  min-width: 300px;
  max-width: 300px;
  margin: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.1);
  padding: 8px;
  justify-content: space-between;
  text-align: center;
}

.app .request-container .request-votes {
  font-size: 200%;
  line-height: 100%;
  margin-top: 8px;
}

.app .request-container .request-title {
  margin: 8px 0px;
}

.app .request-container .request-label {
    color: rgba(0,0,0,.4);
    font-size: 70%;
}

.app .request-container .status-container > * {
    padding: 4px;
}

.app .request-container .working-on-it {
  color: #6FBC00;
}

.app .request-container .under-review {
  color: #f235aa;
}

.app .request-container .partially-done {
  color: #a644a6;
}

@media screen and (max-width: 899px) {
  .app .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .app .heading .icon-container {
    height: 310px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app .heading .title-container {
    margin: 40px;
  }
}

.header-color-5558af h1, .header-color-5558af h2, .header-color-5558af h3 {
    color: #5558af;
}

.header-color-2471ba h1, .header-color-2471ba h2, .header-color-2471ba h3 {
    color: #5558af;
}

@media screen and (min-width: 900px) {
  .app .heading {
    display: flex;
    overflow: hidden;
  }

  .app .heading .icon-container {
    width: 40vw;
    height: 40vw;
    margin-top: -10vw;
    margin-left: -10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5vw;
    padding-top: 5vw;
  }

  .app .heading .title-container {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.stack {
  display: flex;
  flex-direction: column;
}

.columnar {
  display: flex;
  flex-direction: row;
}

.columnar > * {
  flex: 1;
}

@media screen and (max-width: 899px) {
  .sm-stack {
    display: flex;
    flex-direction: column;
  }
}

.space-around {
  justify-content: space-around;
  flex-flow: row wrap;
}

.app section {
  padding: 60px 8px;
}

.app section.reverse {
  background-color: #f2f2f2;
}

.app .platform-container {
  display: flex;
  flex-flow: column;
  text-decoration: none;
  font-size: 110%;
  color: black;
  margin:8px;
  align-items: center;
}

.app .platform-container > * {
  padding: 8px;
}

@media screen and (max-width: 899px) {
  .app .user-reviews-container {
    flex-direction: column-reverse;
  }
}

.app .user-rating-container {
  justify-content: center;
  font-size: 400%;
}

ul.scatter {
  list-style-type: none;
}

ul.scatter li {
    display: inline-block;
    min-width: 50%;
    padding: 12px;
}

.text-center {
  text-align: center;
}

.hide-overflow {
  overflow: hidden;
}
