@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css?family=Roboto");
}

* {
  box-sizing: border-box
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.58;
}

main {
  display: flex;
  justify-content: center;
}

article {
  margin: 12px;
  max-width: 700px;
  flex-grow: 1;
}

.nav-top {
  background-color: white;
  width:100%;
  height:60px;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.flex {
  display: flex;
}

.align-center {
  width:100%;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
}

img.logo {
  height: 50px;
  padding-top:5px;
  padding-bottom: 5px;
}

.title {
  padding-left: 8px;
  margin: 0px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.spacer {
  flex-grow: 10;
}

.document {
  padding: 16px;
  max-width: 768px;
}

.card {
  background: white;
  width: 400px;
  margin: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-title, .card-description {
  padding: 8px;
  margin: 0px;
}

#booking-container {
  padding:0px;
  margin:0 auto;
  width:100%;
  height:100%;
}

@media print {
  .no-print {
    display: none;
  }
}

footer.nav-bottom {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  border-top: 1px #e1e4e8 solid;
  margin-top: 40px;
  margin-left: 32px;
  margin-right: 32px;
}

footer.nav-bottom a {
  padding-left: 6px;
  padding-right: 6px;
}

footer.nav-bottom a, .nav-top a {
  text-decoration: none;
  color: black;
  padding-top: 12px;
  padding-bottom: 12px;
}
