extends ../../layout-article.pug
block article
  h1 Agile Teamwork with Office 365 Planner
  p
    | On December 1st, 1913 Henry Ford installed the first moving assembly line. It was brilliant.&nbsp;His innovation reduced the time it took to build a car from more than 12 hours to two hours and 30 minutes.&nbsp;Ford increased production and decreased costs. His plan moved the automobile from one station to the next until it was complete. Today, the world is a lot faster. Many projects today follow the same design concepts, each person waiting their turn to work a project. Project management and overhead costs for projects is a constant struggle on projects.
  p
    | Microsoft Planner uses a new model designed around teamwork. In Microsoft Planner, a team can work together while staying organized, assigning tasks, sharing files, and chat about the project directly in the app. The streamlined design gives project management and leadership clarity in the project without employees wasting time.
  section
    h2 Rugby Teamwork &amp; Management
    p
      | In 1986 two rugby fans Hirotaka Takeuchi and Ikujiro Nonaka created an innovative approach to projects and teamwork. In this&nbsp;new
      em &nbsp;
      | approach the team &ldquo;tries to go the distance as a unit, passing the ball back and forth&rdquo;. Today, we call this agile project management framework&nbsp;
      strong Scrum
      | .
    p
      | Scrum is the leading agile development methodology, used by Fortune 500 companies around the world. It&rsquo;s a framework or a way of thinking about projects that help you stay organized and dynamic while not wasting time on project management. There&rsquo;s no better place to learn about SCRUM then the&nbsp;
      a(href='https://www.scrumalliance.org/why-scrum', target='_blank') SCRUM Alliance
      | .
    p
      img(src='/assets/article/Microsoft-Planner-Intro/SCRUM-Board.png', layout='intrinsic', attribution='CC courtesy of John L. Gruber on GitBit', alt='SCRUM Board')
  section
    h2 The Scrum framework in 30&nbsp;seconds
    ul
      li A product owner creates a prioritized wish list called a product backlog.
      li
        | During sprint planning, the team pulls a small chunk from the top of that wish list, a sprint backlog, and decides how to implement those pieces.
      li
        | The team has a certain amount of time&hairsp;&mdash;&hairsp;a sprint (usually two to four weeks)&hairsp;&mdash;&hairsp;to complete its work, but it meets each day to assess its progress (daily Scrum).
      li Along the way, the ScrumMaster keeps the team focused on its goal.
      li
        | At the end of the sprint, the work should be potentially shippable or show to a stakeholder.
      li The sprint ends with a sprint review and retrospective.
      li
        | As the next sprint begins, the team chooses another chunk of the product backlog and begins working again.
  section
    h2 Scrum vs Traditional Waterfall Project Management
    p
      | Scrums work a bit differently than your traditional project management; most organizations will use both due to the different needs of projects.
    p
      | Scrums are recommended when a project&rsquo;s needs change and there are a lot of moving parts that can happen simultaneously. The Scrum framework allows different people to pick up tasks and work them independently. You can hit roadblocks while continuing in another area of the project. This flow is agile yet organized.
    p
      | The traditional waterfall is great when a project must naturally move in a static linear fashion. For example, when building a server. First, the networking team must create the private network. Then the virtualization team can create the VMs. Then the Windows team installs the OS. Each team has to wait for the team before them completes before starting their tasks. While we could still use the Scrum framework, the more traditional tools of waterfall project management are helpful too.
  section
    h2 Scrum Tools
    p
      | In Rugby, you barely have any equipment. Likewise, agile projects want a small dynamic tool-set that won&rsquo;t get in the way. Meet 
      strong Microsoft Planner
      | .
    p
      img(src='/assets/article/Microsoft-Planner-Intro/Microsoft-Planner-on-laptop-an.png', layout='intrinsic', attribution='CC courtesy of John L. Gruber on GitBit', alt='Microsoft Planner on laptop and smartphone')
    p
      | Planner comes directly with your Office 365 subscription. Planner is Microsoft Office 365&rsquo;s task management app for teams. The app&rsquo;s design is based on the Scrum framework.
    p
      | At the top level, you have&nbsp;
      strong plans
      | .&nbsp;Each team or project can have its own plan. Plans are the highest level in the organizational structure of Microsoft Planner.
      img(src='/assets/article/Microsoft-Planner-Intro/Microsoft-Planner--plans-view.png', layout='intrinsic', attribution='CC courtesy of John L. Gruber on GitBit', alt='Microsoft Planner - plans view')
    p
      | Within a plan you have&nbsp;
      strong buckets
      | .&nbsp;A bucket is a way to organize&nbsp;
      strong tasks
      | . Tasks can move through the different buckets to show a status or you can use buckets to group the project into phases.
    p
      img(src='/assets/article/Microsoft-Planner-Intro/Plan-view-of-Microsoft-Planner.png', layout='intrinsic', attribution='CC courtesy of John L. Gruber on GitBit', alt='Plan view of Microsoft Planner')
    p
      | A task is a piece of work that must be completed. Tasks can move around the different buckets, assigned to different people, have comments, etc.
    p
      img(src='/assets/article/Microsoft-Planner-Intro/Task-view-in-Microsoft-Planner.png', layout='intrinsic', attribution='CC courtesy of John L. Gruber on GitBit', alt='Task view in Microsoft Planner')
  section
    h2 How to get Started with a Simple&nbsp;Plan
    p
      | Next, we&rsquo;re going through a straightforward way to use the Scrum framework and Planner. The most basic plan is a team to-do list. Open the Planner app and create a plan. It will automatically have a to-do bucket. From there you can add members and create tasks.
    p
      img(src='/assets/article/Microsoft-Planner-Intro/Simple-Microsoft-Planner-view-.png', layout='intrinsic', attribution='CC courtesy of John L. Gruber on GitBit', alt='Simple Microsoft Planner view with one bucket')
    p
      | Team members will know what tasks are available to work because the task won&rsquo;t have an assignee. When a team member starts working a task, they should mark the task &lsquo;in progress&rsquo; and assign the task to themselves.
    p
      | When the work&rsquo;s completed, they can mark the task completed and move on to the next task.
  section
    h2 How to Add Team Members to a Plan
    p
      | When on your plan page, click 
      strong Members
      |  in the top right corner. Enter the name or email address in the 
      strong Enter name to add a member
      |  text box. One of the best features of Microsoft Planner is the ability to add &lsquo;Guest Members&rsquo; to your plan for no additional cost! That way you can add partners, third-party consultants and customers directly to your plan.
    p
      img(src='/assets/article/Microsoft-Planner-Intro/How-to-add-team-members-to-a-p.png', layout='intrinsic', attribution='CC courtesy of John L. Gruber on GitBit', alt='How to add team members to a plan')
  section
    h2 How to add Team&nbsp;Meetings
    p
      | You&rsquo;ve created your plan and added your members. Everyone&rsquo;s working tasks and things are going well. Things are moving quickly, and the team is growing, we&rsquo;ll need to start to discuss tasks in a daily or weekly meeting. During the meeting, you can pop open your plan and review everything quickly.
    p
      img(src='/assets/article/Microsoft-Planner-Intro/Quick-view-of-a-task-in-Micros.png', layout='intrinsic', attribution='CC courtesy of John L. Gruber on GitBit', alt='Quick view of a task in Microsoft Planner')
    p
      | Each task has a few quick bits of information to show if the task is 
      strong
        | in progress, when the task is due, and how many of the subtasks have already been complete
      | .
    p
      | Each bucket has a 
      strong Show Completed 
      | section where you can view closed tasks too. Open the &lsquo;Show Completed&rsquo; section to discuss completed tasks.
    p
      img(src='/assets/article/Microsoft-Planner-Intro/Quick-view-of-a-bucket-in-Micr.png', layout='intrinsic', attribution='CC courtesy of John L. Gruber on GitBit', alt='Quick view of a bucket in Microsoft Planner')
  section
    h2 Quality Assurance
    p
      | Adding Q&amp;A testing is easy too. Create a new bucket called &lsquo;Q&amp;A&rsquo;. When a team member completes a task that needs a second person to review, they&rsquo;ll move the task to the Q&amp;A bucket. Someone from Q&amp;A can pick up the task and perform there testing prior to closing the ticket. If QA fails, they can add a comment and move the task back to the To-do bucket.
    p
      img(src='/assets/article/Microsoft-Planner-Intro/Plan-with-two-buckets-in-Micro.png', layout='intrinsic', attribution='CC courtesy of John L. Gruber on GitBit', alt='Plan with two buckets in Microsoft Planner')
  section
    h2 Tier 2 Support Required!
    p
      | Now our team has grown. We have new interns that can handle most things but occasionally, they need assistance. Now that we have two tiers we create another bucket called Tier 2. When an intern cannot complete a task, they can add their notes to the task and move it over to the Tier 2 bucket. Voila!
    p
      img(src='/assets/article/Microsoft-Planner-Intro/Plan-view-with-three-buckets-i.png', layout='intrinsic', attribution='CC courtesy of John L. Gruber on GitBit', alt='Plan view with three buckets in Microsoft Planner')
  section
    h2 Waiting on&nbsp;Parts
    p
      | Now, we need to add hardware to the project. After the parts are ordered a task can be created to keep the team updated on the order status. We don&rsquo;t want to clog up the To-do bucket with tasks that cannot be worked. We&rsquo;ll need to create a new bucket called &lsquo;On-Hold&rsquo;. Then the task can be placed in the On-Hold bucket. Once the parts arrive and the task can be worked we&rsquo;ll add a comment to the task and move the task to the proper bucket.
    p
      img(src='/assets/article/Microsoft-Planner-Intro/4-buckets-in-Microsoft-Planner.png', layout='intrinsic', attribution='CC courtesy of John L. Gruber on GitBit', alt='4 buckets in Microsoft Planner plan view')
  section
    h2 Summary
    p
      | Microsoft Planner is built right into Office 365. If you&rsquo;re subscribed to Office 365 you can start right away.&nbsp;The Planner app is lightweight and dynamic. You can make it fit your team and goals, not the other way around.
