extends ../../layout-article.pug

block variables
  - const title = 'How to Automate scheduling with Office 365'
  - const canonical = '/articles/how-to-automate-scheduling-with-office-365.html'
  - const description = 'Office 365 has a Bookings app included. Use Bookings to automate and streamline your scheduling.'

block article
  h1#whats-microsoft-bookings What’s Microsoft Bookings?
  p
    | Microsoft has added the Microsoft Bookings app to Office 365 Enterprise (E3 &
    | E5) customers. Bookings is an app that can simplify and automate how customers
    | schedule and manage appointments. Originally designed for small businesses,
    | Microsoft has continued to improve the product and has expanded the app to
    | enterprise customers.
  p
    a(href='http://www.youtube.com/watch?v=G2HOsM767Sw')
      img(src='http://img.youtube.com/vi/G2HOsM767Sw/0.jpg', alt='Microsoft Bookings Introduction Video')
  h1#why-use-microsoft-bookings Why use Microsoft Bookings?
  h2#customers-love-it Customers Love it!
  p
    | Customers love the flexibility and convenience they have when using Bookings.
    | They can visit the simple Bookings webpage on any device and schedule an
    | appointment. After scheduling an appointment, they receive a confirmation email
    | and can reschedule, or cancel if they must. With Bookings, the process for
    | customers and prospective customers is easy, fast, and flexible.
  h2#automate-and-streamline-scheduling Automate and Streamline Scheduling
  p
    | Bookings will help automate and streamline scheduling. Employees can setup
    | available times, and set time off. Then customers can book their own
    | appointments so you don’t waste time on the phone gathering information.
    | Bookings will keep your staff and customers coordinated, with little to no
    | effort.
  p
    | Thanks to the Office 365 integration, your staff can continue to use their
    | Outlook calendar as usual. If a staff member schedules a meeting in their
    | Outlook calendar, they will automatically become unavailable in Bookings. The
    | synchronization makes adding Booking to someone’s day simple, and easy.
  p
    | When a customer books an appointment, the calendar item will automatically sync
    | to your staff’s calendar, so they don’t have to go hunting for their schedules
    | or manage their Booking calendar separate from their day to day calendar. The
    | two-way sync is beautifully designed to keep staff and customers happy.
  h2#decrease-no-shows Decrease No-Shows
  p
    | Decrease no-shows with automatic reminders for customers. After a customer books
    | an appointment they’ll receive a confirmation of their booking directly in their
    | inbox. Customers can add their appointments to their own personal calendars to
    | make sure they remember the appointment in their busy lives. Bookings will send
    | a reminder email prior to the appointment.
  h2#easy-to-use Easy to Use
  p
    | Managing Bookings is easy to do, even on the go. With a web app and apps for
    | smart phones, you can keep up with customers and appointments in the office and
    | on the go. Use the app to email, call, or text customers or even add an
    | appointment for your customer.
  h1#who-should-use-bookings Who should use Bookings?
  p
    | Bookings is a fantastic app for most verticals. Add Bookings to your site and
    | offer a free consultation to help your organization grow. You can also use
    | Bookings with current customers to schedule appointments. Service organizations
    | for example, law firms, and insurance companies are finding online scheduling a
    | great way to help their organization grow.
  h1#how-to-get-bookings How to get Bookings
  p
    strong
      | To get the free app added to your Office 365 enterprise, contact your
      | Microsoft partner. Your partner can give you access and assign the licenses
      | appropriately.
  h1#how-to-access-bookings How to Access Bookings
  p
    img(src='/assets/article/bookings/bookings-summary.png', alt='Microsoft Bookings: Online appointments scheduling', title='Microsoft Bookings: Online appointments scheduling')
  p Access Bookings through the Office 365 App Launcher.
  ol
    li
      | Login to 
      a(href='https://portal.office.com') https://portal.office.com
      |  and open the App Launcher by clicking
      | the icon in the top right.
      br
      img(src='/assets/article/bookings/app-launcher-button.png', alt='Office 365 App Launcher Button', title='Office 365 App Launcher Button')
    li
      | If you don’t see the Bookings app, click the All Apps button at the bottom.
      br
      img(src='/assets/article/bookings/app-launcher.png', alt='Office 365 App Launcher screenshot', title='Office 365 App Launcher screenshot')
    li
      | Find & click the Bookings app.
      br
      img(src='/assets/article/bookings/bookings-icon.png', alt='Bookings Icon', title='Bookings Icon')
  h1#how-to-setup-bookings How to Setup Bookings
  p
    | Your Office 365 partner should help you with the first configuration. There are
    | a lot of different options that must be properly set prior to using the app. In
    | this section, I’ll try to detail the configuration as best as possible.
  h2#add-logo Add Logo
  p
    | It’s important to brand the site with your logo so customers feel comfortable.
    | Add your company logo by clicking the large add logo button in the top left.
  p
    img(src='/assets/article/bookings/add-logo.png', alt='Screenshot of add logo button', title='Screenshot of add logo button')
  p
    | In the Business Logo pane, click 
    strong Upload new logo
    | . Upload your organizations
    | logo. The aspect ratio should be a square and the image should be smaller than
    | 160x160.
  p
    img(src='/assets/article/bookings/upload-new-image-button.png', alt='screenshot of the upload new image button', title='screenshot of the upload new image button')
  p
    | After uploading the image, you can change the background color. It’s best to
    | select a background color that will match your Bookings theme.
  p
    img(src='/assets/article/bookings/background-color-options.png', alt='screenshot of background color options', title='screenshot of background color options')
  p
    | Click 
    strong Save
    |  and your logo will appear in the Bookings website.
  h2#setup-business-information Setup Business Information
  p
    img(src='/assets/article/bookings/business-information-page.png', alt='Business Information Page Screenshot', title='Screenshot of business information page in Microsoft Bookings')
  p
    | Next, we’ll need to update your business information. To setup your business
    | information for example, company name, address, and phone number click the
    | business information button in the bottom of the left navigation pane.
  p
    img(src='/assets/article/bookings/business-information-button.png', alt='business-information-button', title='business-information-button')
  p
    | Your information will appear on the Bookings web page, fill in the common fields
    | as best as possible. The business hours will be used to limit the amount of
    | availability someone can schedule an appointment. By default, the hours will be
    | set to standard business hours. If you only want to accept appointments on one
    | day a week, adjust your business hours. Staff has their own business hours too.
    | Available hours are customizable for each employee on the Staff page too.
  h2#how-to-add-staff How to Add Staff
  p
    | Bookings will directly link your customers and prospective customers to your
    | staff. To add a staff member, click the Staff button in the left navigation
    | pane.
  p
    img(src='/assets/article/bookings/staff-button.png', alt='staff button', title='Microsoft Bookings staff button')
  p
    | From the staff management page, you can see which staff members are connected to
    | Bookings or quickly add and remove staff members.
  p
    img(src='/assets/article/bookings/manage-staff-page.png', alt='Screenshot of staff management page', title='Screenshot of staff management page')
  p Clicking the Add staff button at the top will open the Staff details pane.
  p
    img(src='/assets/article/bookings/staff-details.png', alt='screenshot of Microsoft Bookings staff details page', title='staff details screenshot')
  p
    | From the staff details pane, you can select a person in your company then edit
    | their availability, add phone numbers, etc. One of the latest features has added
    | the ability to sync Bookings availability with the person’s calendar. If they
    | schedule an internal meeting during their available Bookings time, the time will
    | automatically be unavailable to customers!
  p Each staff can be assigned one of three roles: administrator, viewer, or guest.
  ul
    li
      | Administrators have full access to Bookings. They can add staff members, change any settings, etc. The administrator role should be limited to management, IT, and any employees that will manage Bookings.
    li
      | Viewers can open the booking calendar but only view their own appointments. The Bookings calendar will automatically appear in an employee’s OWA.
    li
      | Guests can be assigned to bookings but can’t open or change anything in Bookings. The appointments will automatically sync to their personal calendars. Guest access is recommended for most of the employees that handle the services.
  h2#how-to-configure-services How to Configure Services
  p
    | When someone wants to book a time with your organization, one of the first
    | options they’ll see is a list of services. To add services, go to the services
    | page by clicking 
    strong Services
    |  in the left navigation pane.
  p
    img(src='/assets/article/bookings/services-screenshot.png', alt='Screenshot showing the services option in Microsoft Bookings', title='Screenshot showing the services option in Microsoft Bookings')
  p
    | To create a new service, click the 
    strong Add a service
    |  button in the top toolbar.
    | From the Service details pane, you can easily create a service. The Service name
    | and description will be customer facing. They should be clear enough for
    | customers to understand what they’re scheduling an appointment for.
  p
    | Each service will have one or more staff members assigned. When scheduling an
    | appointment, a customer can either chose a staff member or one can be
    | automatically assigned based on availability.
  p
    img(src='/assets/article/bookings/service-details-page.png', alt='screenshot of service details page', title='screenshot of service details page')
  p
    | Bookings does include a price option. If you set a price, the customer will see
    | the price when selecting the service. Unfortunately, there’s no tie in back to
    | Office 365’s invoicing capabilities but it’s coming soon!
  p When finished save your new service.
  h2#how-to-configure-the-booking-page How to Configure the Booking Page
  p
    | The Booking page is the page customers will see when they want to book time. To
    | edit the booking page, click the 
    strong Booking page
    |  button in the left navigation.
  p
    img(src='/assets/article/bookings/booking-page-button.png', alt='Booking Page Button', title='Booking Page Button')
  p
    | From the Booking page you can update the theme, change the scheduling policy,
    | and publish the site. You’ll need to remember to save and publish your site
    | prior to launch.
  p
    img(src='/assets/article/bookings/bookings-page.png', alt='screenshot of Microsoft Bookings page', title='screenshot of Microsoft Bookings page')
  h2#how-to-publish-your-bookings-site How to Publish your Bookings Site
  p
    | Bookings won’t be live until you publish the site. Go to the 
    strong Booking page
    |  by
    | clicking the 
    strong Booking page
    |  button in the left navigation.
  p
    img(src='/assets/article/bookings/booking-page-button.png', alt='Booking Page Button', title='Booking Page Button')
  p
    | Click the 
    strong Save and publish
    |  button in the top toolbar.
  p
    img(src='/assets/article/bookings/save-publish.png', alt='Save and Publish Screenshot', title='Save and Publish Screenshot')
  p
    | Once published, you’ll see a link to the site. You can share the link to
    | customers, then they can book appointments automatically.
  h2#how-do-i-publish-booking-to-my-website How do I Publish Booking to my Website?
  p
    | If you want prospective customers to schedule appointments, we’ll need to add
    | the Bookings page to your site or a link to the Bookings site. Go to the
    strong Booking page
    |  by clicking the 
    strong Booking page
    |  button in the left navigation.
  p
    img(src='/assets/article/bookings/booking-page-button.png', alt='Booking Page Button', title='Booking Page Button')
  p
    | Once on the Booking page, click the 
    strong Embed
    |  button in the top toolbar.
  p
    img(src='/assets/article/bookings/embed-button.png', alt='embed-button', title='embed-button')
  p
    | Microsoft will display two pieces of html code. One is a link to your booking
    | page. The other is embeddable Iframe that can be placed directly into your
    | website. Give this code to your web developer to add them to your site.
  p
    img(src='/assets/article/bookings/bookings-embedables.png', alt='screenshot of Microsoft Bookings embedable links', title='screenshot of embedable links')
  h2#what-s-the-employee-experience What’s the Employee Experience
  p
    | Since Bookings automatically links to your employees’ calendars, it’s easy for
    | your staff to stay up-to-date. If an employee schedules an appointment on their
    | Outlook calendar they’ll automatically be removed from the list of available
    | staff members in Bookings. If a customer books an appointment, the employees
    | calendar will be updated too.
  p
    | When someone books an appointment without selecting a staff member, the
    | appointment will be automatically added to one of the available employees’
    | calendars. The staff member will also receive an email informing them of the new
    | appointment. The appointment will contain the customer information in case they
    | need to reschedule or send some information prior to the engagement.
  h2#what-s-the-customer-experience What’s the Customer Experience?
  p
    | Customers can easily book time without any issues. When they go to your Booking
    | site, they’ll see a simple form where they can select a service, date and time
    | and then book a request.
  p
    img(src='/assets/article/bookings/Scheduling-Screenshot.png', alt='Scheduling-Screenshot', title='Scheduling-Screenshot')
  p After booking a time, they’ll receive a confirmation message.
  p
    img(src='/assets/article/bookings/confirmation-dialog.png', alt='screenshot of confirmation dialog', title='screenshot of confirmation dialog')
  p
    | Within minutes they’ll receive a beautiful email reminding them of the
    | appointment.
  p
    img(src='/assets/article/bookings/confirmed-booking.png', alt='Booking confirmation screenshot', title='Booking confirmation screenshot')
  p
    | The email is configured so apps like Gmail will request to put the appointment
    | on their calendar.
  p
    img(src='/assets/article/bookings/google-calendar.png', alt='Screenshot showing Google Calendar integration', title='Screenshot showing Google Calendar integration')
  p
    | From the email they can click Manage booking and reschedule, cancel, or create a
    | new appointment.
  p
    img(src='/assets/article/bookings/microsoft-bookings-screenshot.png', alt='Microsoft Bookings Screenshot', title='Microsoft Bookings Screenshot')
  h1#upcoming-features Upcoming Features
  p
    | Microsoft is extending Bookings power by offering full control over exactly when
    | appointments are available with customizable time increments. Customizable time
    | increments are currently in development and expected to be released in the first
    | half of 2018.
  p
    | Multi-day and all-day bookings are currently in development and expected to be
    | released in the first half of 2018.
  p
    | The most anticipated feature is automated billing. Microsoft is developing the
    | payment option. Once released Bookings will give the choice to request an online
    | payment from your customers for them to complete the booking of your services.
    | Simply setup a merchant account, add fees to your Booking services and track
    | your payments. Payments is highly anticipated, especially for professional
    | services for example, law firms. Automated payment processing is currently in
    | development and expected to be released soon.
  p
    img(src='/assets/article/bookings/price-screenshot.png', alt='Screen capture: Depicting required payment for service', title='Screen capture: Depicting required payment for service')
  p
    img(src='/assets/article/bookings/we-pay.png', alt="Screen capture: Showing WePay's account management home page", title="Screen capture: Showing WePay's account management home page")
