* {
    box-sizing: border-box;
}

.toolbar {
  position: fixed;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid black;
  background: white;
  top: 0px;
  left: 0px;
  right: 0px;
}

body {
  padding: 0px;
  margin: 0px;
}

main {
  margin-top: 92px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
}
