extends ../layout.pug

block content
  include ../includes/header.pug
  .container
    .document
      p John Gruber is a Collaboration Engineer and is responsible for helping customers manage and maintain Microsoft Office 365. John brings 10 years of information technology (IT) experience, helping small and large organizations across North America. Follow him on Twitter @gruberjl.
  include ../includes/footer.pug
