extends ../layout.pug

block content
  header.nav-top
    amp-img.logo(src='assets/branding/GitBit-Logo-Mercury-50x50.png' height=50 width=50)
    h1.title GitBit
  .container
    each article in articles
      a.card(href=article.link)
        amp-img.card-image(src=article.image, height=200 width=300 layout="responsive")
        h3.card-title=article.title
        p.card-description=article.description
  footer.nav-bottom
    a.twitter(href="https://twitter.com/gruberjl") Twitter
    a.linkedin(href="https://www.linkedin.com/in/gruberjl/") LinkedIn
    a.newsletter(href="https://businesscenter.office.com/b/gitbit/signup") Tips to your inbox
    a.rss(href="rss.xml") RSS
