extends ../layout.pug

block content
  include ../includes/header.pug
    amp-img.logo(src='assets/branding/GitBit-Logo-Mercury-50x50.png' height=50 width=50)
    h1.title GitBit
  main
    article
      h1#termsandconditions Terms and Conditions
      h2#termsandconditionsquottermsquot Terms and Conditions ("Terms")
      p Last updated: 4/20/2018
      p
        | Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the http://gitbit.org website and the GitBit mobile application (the "Service") operated by GitBit ("us", "we", or "our").
      p
        | Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
      p
        strong
          | By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
      p
        strong Purchases
      p
        | If you wish to purchase any product or service made available through the Service ("Purchase"), you may be asked to supply certain information relevant to your Purchase including, without limitation, your …
      p
        strong Subscriptions
      p
        | Some parts of the Service are billed on a subscription basis ("Subscription(s)"). You will be billed in advance on a recurring monthly basis.
      p
        strong Content
      p
        | Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content"). You are responsible for the privacy of your information.
      p
        strong Links To Other Web Sites
      p
        | Our Service may contain links to third-party web sites or services that are not owned or controlled by GitBit.
      p
        | GitBit has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that GitBit shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
      p
        strong Changes
      p
        | We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
      p
        strong Contact Us
      p If you have any questions about these Terms, please contact us.

  include ../includes/footer.pug
