extends ../layout.pug

block content
  include ../includes/header.pug
    amp-img.logo(src='assets/branding/GitBit-Logo-Mercury-50x50.png' height=50 width=50)
    h1.title GitBit
  .container
    .document
      include:markdown-it terms.md
  include ../includes/footer.pug
