extends ../../layout.pug

block content
  include ../../includes/header.pug

  main
    article
      .container
        each app in apps
          .app.side-margins
            .app-image
              img(src=app.icon width='150' height='150')
            .app-body
              h3.no-margin=app.name
              p.no-margin=app.description

  include ../../includes/footer.pug
