extends ../../layout.pug

block content
  include ../../includes/header.pug

  main
    article
      .container
        each app in apps
          .app.side-margins
            img(src=app.icon)
            h3.no-margin=app.name
            p.no-margin=app.description

  include ../../includes/footer.pug
