.app .heading {
  width: 100%;
  background: rgb(63,63,63);
  font-size: 200%;
  color: white;
}

.app .heading .icon-container {
  border-radius: 50%;
  background: white;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(217, 217, 217);
}

.app .heading .title-container {
  text-align: center;
}

.app .heading .title-container * {
  margin: 0px;
}

@media screen and (max-width: 899px) {
  .app .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .app .heading .icon-container {
    height: 310px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app .heading .title-container {
    margin: 40px;
  }
}

@media screen and (min-width: 900px) {
  .app .heading {
    display: flex;
    overflow: hidden;
  }

  .app .heading .icon-container {
    width: 40vw;
    height: 40vw;
    margin-top: -10vw;
    margin-left: -10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5vw;
    padding-top: 5vw;
  }

  .app .heading .title-container {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.stack {
  display: flex;
  flex-direction: column;
}

.columnar {
  display: flex;
  flex-direction: row;
}

.columnar > * {
  flex: 1;
}

@media screen and (max-width: 899px) {
  .sm-stack {
    display: flex;
    flex-direction: column;
  }
}

.space-around {
  justify-content: space-around;
  flex-flow: row wrap;
}

.app section {
  padding: 60px 8px;
}

.app section.reverse {
  background-color: #f2f2f2;
}

/* .app section.row .row-title {
  text-align: center;
  margin-top: 0px;
} */

.app .platform-container {
  display: flex;
  flex-flow: column;
  text-decoration: none;
  font-size: 110%;
  color: black;
  margin:8px;
  align-items: center;
}

.app .platform-container > * {
  padding: 8px;
}

ul.scatter {
  list-style-type: none;
}

ul.scatter li {
    display: inline-block;
    min-width: 50%;
    padding: 12px;
}

.text-center {
  text-align: center;
}

.hide-overflow {
  overflow: hidden;
}

.no-margins {
  margin: 0px;
}
