footer.nav-bottom.no-print.light.columnar.sm-stack
  a.text-center.twitter(href="https://twitter.com/gruberjl") Twitter
  a.text-center.linkedin(href="https://www.linkedin.com/in/gruberjl/") LinkedIn
  a.text-center.facebook(href="https://www.facebook.com/GitBit0/") Facebook
  a.text-center.newsletter(href="https://businesscenter.office.com/b/gitbit/signup") Tips to your inbox
  a.text-center.rss(href="rss.xml") RSS
  a.text-center.terms(href="/legal") Legal
