header.nav-top.space-between
  a.align-center.side-margins(href="/")
    img.logo(src='/assets/gitbit/gitbit-icon-mercury-50x50.png' height=50 width=50)
    h1.no-margin.light GitBit
  a.no-print.light.side-margins(href='/apps') apps
