extends ./layout.pug

append variables
  - const SchemaType = 'WebSite'
  
block content
  include header.pug
  .space-around.wrap
    each article in articles
      a.card(href=article.canonical)
        img.card-image(src=article.image400x300, height=300 width=400 layout="responsive")
        h3.card-title=article.title
        p.card-description=article.description
  include footer.pug
