doctype html
html(amp="" lang="en")
  head
    meta(charset="utf-8")
    meta(name='msvalidate.01', content='F38FFB109FAF9C7076E59AA8AADDA0A2')
    meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
    link(rel='alternate', type='application/rss+xml', title='RSS Feed for gitbit.org', href='http://gitbit.org/rss.xml')
    link(rel='alternate', type='application/atom+xml', title='Atom Feed for gitbit.org', href='http://gitbit.org/atom.xml')
    link(rel='alternate', title='JSON Feed for GitBit.org', type='application/json', href='https://gitbit.org/feed.json')
      
    meta(name='msvalidate.01', content='F38FFB109FAF9C7076E59AA8AADDA0A2')
    meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
    link(rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png")
    link(rel="manifest" href="/assets/favicons/site.webmanifest")
    link(rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5")
    link(rel="shortcut icon" href="/assets/favicons/favicon.ico")
    meta(name="msapplication-TileColor" content="#00aba9")
    meta(name="msapplication-config" content="/assets/favicons/browserconfig.xml")
    meta(name="theme-color" content="#ffffff")
    meta(name="robots" content="index, follow")  
      
    style()
      include styles.css
  body
    block content
