doctype html
html(amp="" lang="en")
  head
    meta(charset="utf-8")
    meta(name='msvalidate.01', content='F38FFB109FAF9C7076E59AA8AADDA0A2')
    meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
    link(rel='alternate', type='application/rss+xml', title='RSS Feed for gitbit.org', href='http://gitbit.org/rss.xml')
    link(rel='alternate', type='application/atom+xml', title='Atom Feed for gitbit.org', href='http://gitbit.org/atom.xml')
    link(rel='alternate', title='JSON Feed for GitBit.org', type='application/json', href='https://gitbit.org/feed.json')
    style()
      include styles.css
  body
    block content
